# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:IncludeMiners=true
    S:OnMorningText=Wakey, wakey, rise and shine... We Survived the memes!
    S:OnSleepText=is now bathing in memes.
    S:OnWakeText=can't handle the memes.
    I:SleeperPerc=51
}


